body{
  background-color:#F0F2F2;
  padding-top: 70px;

}

 h1{
   text-align: center;

 }
 @media only screen and (max-width: 600px) {

   .btn{
     margin: 0px;
     text-align: right;
     width: 70%;
   }

}

.caseworker-list{
    display: block;
    margin: 0px;
    padding: 0px;
    text-align: center;
    height: auto;
    position: absolute;
    background-color: #d0cfcf;
    width: 316px;
    -webkit-transition: width 2s;
    transition: width 2s;
}

.caseworker-list li{
    display: block;
    margin: 0px;    
    padding: 4px;
    border-bottom: 1px solid #c4b9b9;
}


.caseworker-list li:hover{
    background-color: #e4dcdc;
    cursor: pointer;
}
